head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title FireNodes | Projects
    meta(name="author" content="Theo Paris")
    meta(name="title" content="FireNodes Hosting")
    meta(name="description" content="Projects")
    meta(property="og:image" content="/assets/images/fire-1.png")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    link(rel="stylesheet" href="/assets/styles/style.css")
