doctype html
html(lang="en")
    include ./partials/head
    body.fire-bg
        nav#header.navbar.navbar-expand-lg.navbar-dark
            .nav-dark-menu
                a.navbar-brand(href="/")
                    img(src="/assets/images/fire-1.png" height="50px")
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link.active(aria-current="page" href="https://discord.gg/97DsEQTbJa")
                            img(src="/assets/images/discord-icon.png" height="50px")
        .centered-container
            main
                h2 FireNodes Hosting
                p COMING SOON.
    include ./partials/scripts
