body {
    color: #fff;
}

#header {
    background: #212121;
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    margin-bottom: 25px;
    display: flex;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 350px;
    height: auto;
    min-width: 75%;
    width: auto;
}

.navbar-brand {
    margin-right: 100px;
    width: 100px;
}

.navbar-brand img {
    width: 50px;
    height: 80px;
}

.nav-link img {
    width: 60px;
    height: auto;
}

.fire-bg {
    background: linear-gradient(270deg, #ed6d32, #ed9f32, #ec1212);
    background-size: 600% 600%;

    animation: fire 11s ease infinite;
}

@keyframes fire {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
